/* LookBook*/
.LookBook{
  padding-top: 10rem;
}

.lookBook-inner{
  max-width: 1300px;
  text-align: center;
}

.filterBtnBox{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
  font-size: 12px;
  cursor: pointer;
  color: #AFAFAF;
}

.clickFilterBtn{
  font-weight: 800;
  color: #111;
}

.yearFilterBtn{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.image-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.image-list>img{
  width: 45%;
  margin-bottom: 8rem;
}

.pagination{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination li button{
  font-size: 12px;
  border-radius: 4px;
  color: rgb(160, 160, 160);
  border: 1px solid rgb(228, 228, 228);
  padding: 0.3rem 0.6rem;
  background: #fff;
  cursor: pointer;
}

.pagination li button.clickPagenationBtn{
  color: #fff;
  border: 1px solid rgb(228, 228, 228);
  background: #111;
}

/* Outer, Other */
.Outer,
.Other{
  font-size: 12px;
  text-align: center;
  padding-top: 9rem;
}

.outer-title,
.other-title{
  margin-bottom: 3rem;
}

.outer-inner,
.other-inner{
  width: 90%;
  max-width: 1427px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 40px;
  margin: auto;
  text-align: left;
}

.OuterCard,
.OtherCard{
  font-size: 12px;
  margin-bottom: 20%;
}

.img-box{
  width: 100%;
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.img-box>img{
  width: 100%;
  object-fit: cover;
  transition: .3s;
}

.img-box:hover>img{
  transform: scale(1.1);
}

.img-desc{
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.781);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  visibility: hidden;
  z-index: 20;
}

.img-box:hover .img-desc{
  opacity: 1;
  visibility: visible;
}

.CiHeart{
  width: 50px;
  height: 50px;
}

.like-count{
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.OuterCard>.title,
.OtherCard>.title{
  margin-top: 0.5rem;
}

.OuterCard>.price,
.OtherCard>.price{
  margin: 0.5rem 0;
  text-decoration: line-through;
}

.OuterCard>.sale,
.OtherCard>.sale{
  font-weight: 800;
}

/*Outer , Other Detail*/
.OuterDetail, .OtherDetail{
  width: 100%;
  padding-top: 15rem;
}

.detail{
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 5rem;
}

.detail_left>img{
  width: 650px;
}

.detail_right{
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.detail_right>h2{
  font-size: 16px;
  font-weight: 600;
}

.detail_right>h4{
  font-size: 12px;
  color: rgb(116, 116, 116);
}

.detail_right>h4>span{
  font-size: 14px;
  font-weight: 800;
  color: #111;
  margin-right: 3rem;
}

.detail_right>:nth-child(3){
  font-size: 14px;
  color: #111;
}

.detail_right>:nth-child(4){
  font-size: 14px;
}

.detail_right>:nth-child(4)>span{
  margin-right: 5.6rem;
  font-weight: 400;
  color: rgb(116, 116, 116);
}

.size-box{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.size-box>h4{
  width: 100px;
  font-size: 14px;
  margin-right: 3rem;
}

.size-box>select{
  width: 100%;
  padding: 0.2rem 0.3rem;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  border: 1px solid rgb(189, 189, 189);
}

.detail_right>span{
  width: 100%;
  height: 1px;
  background: rgb(218, 218, 218);
  margin: 2rem 0;
}

.buy-box>button{
  width: 30%;
  height: 3rem;
  border: none;
  font-size: 10px;
  font-weight: 500;
  color: white;
  background: rgb(53, 53, 53);
  margin-right: 0.5rem;
}

.buy-box>button:nth-child(2),
.buy-box>button:nth-child(3){
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(189, 189, 189);
}

/*OuterCart*/
.OuterModalCart,
.OtherModalCart{
  width: 40vw;
  height: 50vh;
  margin: auto;
  background: rgb(255, 255, 255);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  box-shadow: 3px 3px 30px rgba(68, 68, 68, 0.185);
}

.outer-cart-top,
.other-cart-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 1rem;
  font-weight: 800;
  color: #fff;
  background: #333;
}

.modal-close-btn{
  font-size: 20px;
  cursor: pointer;
}

.outer-cart-contents,
.other-cart-contents{
  position: relative;
  padding: 24px 30px 20px;
  text-align: left;
}

.cart-contents-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed #000;
}

.cart-contents-title>h2{
  font-size: 14px;
  font-weight: 800;
}

.cart-contents-title>.price-box{
  display: flex;
  gap: 1rem;
}

.cart-contents-title>.price-box>:nth-child(1){text-decoration: line-through;}

.cart-contents-title>.price-box>:nth-child(2){font-weight: 700;}

.outer-cart-option,
.other-cart-option{
  display: flex;
  margin-bottom: 3rem;
}

.outer-cart-option>img,
.other-cart-option>img{width: 150px;}

.outer-cart-option>.size-box,
.other-cart-option>.size-box{
  flex: 1;
}

.outer-cart-option>.size-box>h4,
.other-cart-option>.size-box>h4{text-align: right;}

.outer-cart-option>.size-box>select,
.other-cart-option>.size-box>select{
  max-width: 300px;
  font-size: 12px;
  cursor: pointer;
}

.outer-cart-contents>span,
.other-cart-contents>span{
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.buy-box{
  text-align: center;
  padding-top: 1.8rem;
}

.detail_right>.buy-box{
  padding-top: 0;
}

.buy-box>button{cursor: pointer;}

/*Login*/
.Login{
  width: 100%;
  padding: 10rem 0;
  font-size: 13px;
}

.login-inner{
  text-align: center;
}

.login-title{
  margin-bottom: 2.5rem;
}

.login-box{
  width: 40%;
  min-width: 574px;
  margin: auto;
  padding: 4rem;
  border: 1px solid rgb(190, 190, 190);
}

.login-box-top{
  width: 80%;
  height: 70px;
  margin: auto;
  display: flex;
  gap: 0.3rem;
}

.login-box-left{
  flex: 2.3;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.login-box-left>input{
  flex: 1;
  padding-left: 0.5rem;
  font-size: 10px;
  border: 1px solid rgb(199, 199, 199);
}

.login-box-left>input::placeholder {
  color: #acacac;
}

.login-box-top>button{
  flex: 1;
  border: none;
  color: #fff;
  background: rgb(41, 41, 41);
}

.lock{
  width: 80%;
  display: flex;
  gap: 5px;
  margin: 0.7rem auto 1rem;
}

.login-box-bottom{
  width: 80%;
  margin: auto;
  display: flex;
  gap: 1rem;
}

.outer-cart-box{
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 500;
}

/*Member*/

.Member{
  padding-top: 10rem;
}

.member-inner{
  width: 50%;
  margin: auto;
}

.member-title{
  text-align: center;
  margin-bottom: 4rem;
}

.member-inner>p{
  font-size: 12px;
  padding: 1rem;
  color: #a0a0a0;
  border: 1px solid rgb(221, 221, 221);
}

.member-inner>p>span{
  color: #595959;
  font-weight: 600;
}

.member-inner>.my-page{
  margin: 2rem 0 7rem;
  font-size: 12px;
  line-height: 1.5rem;
  color: #a0a0a0;
  border: 1px solid rgb(221, 221, 221);
}

.list-title{
  border-bottom: 1px solid rgb(221, 221, 221);
}

.list-title:last-child{
  border-bottom: none;
}

.list-title-wrap{
  display: flex;
  justify-content: space-between;
  padding:  1.5rem 2rem;
}

.list-desc{
  display: none;
  width: 100%;
  padding:2rem;
  border-top: 1px solid rgb(221, 221, 221);
  color: rgb(117, 117, 117);
  background: rgb(221, 221, 221);
}

.display-block{
  display: block;
}

.rotate{
  transform: rotate(90deg);
}

/*cart*/
.Cart{
  padding-top: 10rem;
  text-align: center;
}

.cart-list{
  margin: 10rem 0 20rem;
}

/*JoinUs*/
.JoinUs{
  height: 68vh;
}
